%h1 #{raw @category.name}

-@category.pages.each do |page|
  %article.clearfix
    %h2=link_to page.title.html_safe, url_for_page(page)
    %p.text-muted=page.created_at.to_formatted_s :long
    =raw page.body.truncate(700)
  %hr
