%h1 Menus

%ul.table
  -@menus.each do |menu|
    %li
      =menu.name
      =link_to "edit", edit_admin_menu_path(menu), class:"btn btn-primary"
      =link_to 'Destroy', admin_menu_path(menu), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
      %ol
        -menu.menu_items.each do |item|
          %li=link_to item.title, url_for_menu_item(item)
        
    
%p
  =link_to "New Menu", new_admin_menu_path, class: "btn btn-primary"
  
